[Unit]
Description=Install Tailscale stable
Wants=network-online.target
After=network-online.target
Before=zincati.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=rpm-ostree install --apply-live --allow-inactive --assumeyes tailscale
ExecStart=systemctl enable --now tailscaled

[Install]
WantedBy=multi-user.target